<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SBM Mobile Automation Suite" parallel="tests">

    <!-- Extent Test Listener -->
    <listeners>
        <listener class-name="listeners.ExtentTestListener"/>

    </listeners>

    <!-- =======================
         LOGIN TEST EXECUTION
         ======================= -->
    <test name="Login">
        <parameter name="appType" value="SBMBANK"/>
        <parameter name="platformType" value="Android"/>
        <parameter name="deviceName" value="emulator-5554"/>
        <parameter name="platformVersion" value="14"/>
        <parameter name="portNumber" value="4723"/>
        <parameter name="environment" value="uat"/>

        <classes>
            <class name="suites.E2ETransferTest"/>
        </classes>
    </test>

</suite>
